:root,
:root:has(.force-dark-mode-false) {
 --text-color: hsl(248.83deg 34.42% 41.51%);
 --background-color: #fff;
 --input-background-color: hsl(0deg 100% 91.55%);
 --input-color: hsl(248.83deg 23.99% 26.94%);
 --visited-color: hsl(12.12deg 33% 33%);
 --hover-color: hsl(12.12deg 33% 44%);
 --active-color: hsl(12.12deg 33% 55%);
 --accent-color: hsl(60deg 100% 50%);
}

body {
 background-color: var(--background-color);
 color: var(--text-color);
}

input,
textarea,
select {
 background-color: var(--input-background-color);
 color: var(--input-color);
}

a {
 color: var(--text-color);
}

a:visited {
 color: var(--visited-color);
}

a:hover {
 color: var(--hover-color);
}

a:active {
 color: var(--active-color);
}

@media (prefers-color-scheme: dark) {
 :root,
 /* :root:not(:has(.force-dark-mode-false)), */
 :root:has(.force-dark-mode-true) {
  --text-color: hsl(224.83deg 41.34% 74.76%);
  --background-color: hsl(224.83deg 2.11% 14.21%);
  --visited-color: hsl(0 33% 66%);
  --hover-color: hsl(0 33% 77%);
  --active-color: hsl(0 33% 88%);
  --accent-color: hsl(60deg 100% 50%);
 }

 body {
  background-color: var(--background-color);
  color: var(--text-color);
 }

 input,
 textarea,
 select {
  background-color: var(--background-color);
  color: var(--text-color);
 }

 a {
  color: var(--visited-color);
  text-decoration: underline;
  cursor: pointer;
 }

 a:visited {
  color: var(--visited-color);
 }

 a:hover {
  color: var(--hover-color);
 }

 a:active {
  color: var(--active-color);
 }
}
